<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.png</key>
            <dict>
                <key>height</key>
                <integer>96</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>96</integer>
                <key>originalWidth</key>
                <integer>640</integer>
                <key>width</key>
                <integer>640</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>1085</integer>
            </dict>
            <key>fpch_bg.png</key>
            <dict>
                <key>height</key>
                <integer>338</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>338</integer>
                <key>originalWidth</key>
                <integer>337</integer>
                <key>width</key>
                <integer>337</integer>
                <key>x</key>
                <integer>644</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>fpch_close.png</key>
            <dict>
                <key>height</key>
                <integer>59</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>59</integer>
                <key>originalWidth</key>
                <integer>59</integer>
                <key>width</key>
                <integer>59</integer>
                <key>x</key>
                <integer>943</integer>
                <key>y</key>
                <integer>1151</integer>
            </dict>
            <key>fpch_closehover.png</key>
            <dict>
                <key>height</key>
                <integer>59</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>59</integer>
                <key>originalWidth</key>
                <integer>59</integer>
                <key>width</key>
                <integer>59</integer>
                <key>x</key>
                <integer>943</integer>
                <key>y</key>
                <integer>1090</integer>
            </dict>
            <key>fpch_line.png</key>
            <dict>
                <key>height</key>
                <integer>5</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>5</integer>
                <key>originalWidth</key>
                <integer>247</integer>
                <key>width</key>
                <integer>247</integer>
                <key>x</key>
                <integer>644</integer>
                <key>y</key>
                <integer>805</integer>
            </dict>
            <key>ms_bottombg.png</key>
            <dict>
                <key>height</key>
                <integer>158</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>158</integer>
                <key>originalWidth</key>
                <integer>640</integer>
                <key>width</key>
                <integer>640</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>819</integer>
            </dict>
            <key>ms_button_SET.png</key>
            <dict>
                <key>height</key>
                <integer>50</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>50</integer>
                <key>originalWidth</key>
                <integer>47</integer>
                <key>width</key>
                <integer>47</integer>
                <key>x</key>
                <integer>966</integer>
                <key>y</key>
                <integer>914</integer>
            </dict>
            <key>ms_button_SEThover.png</key>
            <dict>
                <key>height</key>
                <integer>50</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>50</integer>
                <key>originalWidth</key>
                <integer>47</integer>
                <key>width</key>
                <integer>47</integer>
                <key>x</key>
                <integer>966</integer>
                <key>y</key>
                <integer>862</integer>
            </dict>
            <key>ms_button_back.png</key>
            <dict>
                <key>height</key>
                <integer>59</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>59</integer>
                <key>originalWidth</key>
                <integer>86</integer>
                <key>width</key>
                <integer>86</integer>
                <key>x</key>
                <integer>878</integer>
                <key>y</key>
                <integer>862</integer>
            </dict>
            <key>ms_button_backhover.png</key>
            <dict>
                <key>height</key>
                <integer>59</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>59</integer>
                <key>originalWidth</key>
                <integer>86</integer>
                <key>width</key>
                <integer>86</integer>
                <key>x</key>
                <integer>900</integer>
                <key>y</key>
                <integer>801</integer>
            </dict>
            <key>ms_button_fs.png</key>
            <dict>
                <key>height</key>
                <integer>122</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>122</integer>
                <key>originalWidth</key>
                <integer>146</integer>
                <key>width</key>
                <integer>146</integer>
                <key>x</key>
                <integer>860</integer>
                <key>y</key>
                <integer>966</integer>
            </dict>
            <key>ms_button_left.png</key>
            <dict>
                <key>height</key>
                <integer>122</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>122</integer>
                <key>originalWidth</key>
                <integer>166</integer>
                <key>width</key>
                <integer>166</integer>
                <key>x</key>
                <integer>644</integer>
                <key>y</key>
                <integer>1117</integer>
            </dict>
            <key>ms_topbg.png</key>
            <dict>
                <key>height</key>
                <integer>104</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>104</integer>
                <key>originalWidth</key>
                <integer>640</integer>
                <key>width</key>
                <integer>640</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>979</integer>
            </dict>
            <key>qp2_bg_bottom.png</key>
            <dict>
                <key>height</key>
                <integer>40</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>40</integer>
                <key>originalWidth</key>
                <integer>419</integer>
                <key>width</key>
                <integer>419</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>1375</integer>
            </dict>
            <key>qp2_bg_mid.png</key>
            <dict>
                <key>height</key>
                <integer>20</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>20</integer>
                <key>originalWidth</key>
                <integer>392</integer>
                <key>width</key>
                <integer>392</integer>
                <key>x</key>
                <integer>396</integer>
                <key>y</key>
                <integer>1466</integer>
            </dict>
            <key>qp2_bg_top.png</key>
            <dict>
                <key>height</key>
                <integer>20</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>20</integer>
                <key>originalWidth</key>
                <integer>392</integer>
                <key>width</key>
                <integer>392</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>1457</integer>
            </dict>
            <key>qp_bg_bottom.png</key>
            <dict>
                <key>height</key>
                <integer>38</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>38</integer>
                <key>originalWidth</key>
                <integer>419</integer>
                <key>width</key>
                <integer>419</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>1417</integer>
            </dict>
            <key>qp_bg_mid.png</key>
            <dict>
                <key>height</key>
                <integer>15</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>15</integer>
                <key>originalWidth</key>
                <integer>392</integer>
                <key>width</key>
                <integer>392</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>1479</integer>
            </dict>
            <key>qp_bg_top.png</key>
            <dict>
                <key>height</key>
                <integer>20</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>20</integer>
                <key>originalWidth</key>
                <integer>392</integer>
                <key>width</key>
                <integer>392</integer>
                <key>x</key>
                <integer>423</integer>
                <key>y</key>
                <integer>1444</integer>
            </dict>
            <key>tk_button_bg.png</key>
            <dict>
                <key>height</key>
                <integer>88</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>88</integer>
                <key>originalWidth</key>
                <integer>232</integer>
                <key>width</key>
                <integer>232</integer>
                <key>x</key>
                <integer>644</integer>
                <key>y</key>
                <integer>812</integer>
            </dict>
            <key>tk_lose.png</key>
            <dict>
                <key>height</key>
                <integer>225</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>225</integer>
                <key>originalWidth</key>
                <integer>259</integer>
                <key>width</key>
                <integer>259</integer>
                <key>x</key>
                <integer>644</integer>
                <key>y</key>
                <integer>342</integer>
            </dict>
            <key>tk_lose_bottom.png</key>
            <dict>
                <key>height</key>
                <integer>97</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>97</integer>
                <key>originalWidth</key>
                <integer>434</integer>
                <key>width</key>
                <integer>434</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>1183</integer>
            </dict>
            <key>tk_lose_mid.png</key>
            <dict>
                <key>height</key>
                <integer>93</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>93</integer>
                <key>originalWidth</key>
                <integer>434</integer>
                <key>width</key>
                <integer>434</integer>
                <key>x</key>
                <integer>438</integer>
                <key>y</key>
                <integer>1256</integer>
            </dict>
            <key>tk_lose_top.png</key>
            <dict>
                <key>height</key>
                <integer>91</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>91</integer>
                <key>originalWidth</key>
                <integer>432</integer>
                <key>width</key>
                <integer>432</integer>
                <key>x</key>
                <integer>436</integer>
                <key>y</key>
                <integer>1351</integer>
            </dict>
            <key>tk_win.png</key>
            <dict>
                <key>height</key>
                <integer>234</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>234</integer>
                <key>originalWidth</key>
                <integer>254</integer>
                <key>width</key>
                <integer>254</integer>
                <key>x</key>
                <integer>644</integer>
                <key>y</key>
                <integer>569</integer>
            </dict>
            <key>tk_win_top.png</key>
            <dict>
                <key>height</key>
                <integer>91</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>91</integer>
                <key>originalWidth</key>
                <integer>432</integer>
                <key>width</key>
                <integer>432</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>1282</integer>
            </dict>
            <key>tp_time_bg.png</key>
            <dict>
                <key>height</key>
                <integer>213</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>213</integer>
                <key>originalWidth</key>
                <integer>214</integer>
                <key>width</key>
                <integer>214</integer>
                <key>x</key>
                <integer>644</integer>
                <key>y</key>
                <integer>902</integer>
            </dict>
            <key>tp_txmb.png</key>
            <dict>
                <key>height</key>
                <integer>91</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>91</integer>
                <key>originalWidth</key>
                <integer>91</integer>
                <key>width</key>
                <integer>91</integer>
                <key>x</key>
                <integer>905</integer>
                <key>y</key>
                <integer>528</integer>
            </dict>
            <key>tx2_bg.png</key>
            <dict>
                <key>height</key>
                <integer>89</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>89</integer>
                <key>originalWidth</key>
                <integer>89</integer>
                <key>width</key>
                <integer>89</integer>
                <key>x</key>
                <integer>900</integer>
                <key>y</key>
                <integer>621</integer>
            </dict>
            <key>tx2_num_bg.png</key>
            <dict>
                <key>height</key>
                <integer>31</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>31</integer>
                <key>originalWidth</key>
                <integer>31</integer>
                <key>width</key>
                <integer>31</integer>
                <key>x</key>
                <integer>983</integer>
                <key>y</key>
                <integer>68</integer>
            </dict>
            <key>tx3_bg.png</key>
            <dict>
                <key>height</key>
                <integer>91</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>91</integer>
                <key>originalWidth</key>
                <integer>91</integer>
                <key>width</key>
                <integer>91</integer>
                <key>x</key>
                <integer>905</integer>
                <key>y</key>
                <integer>435</integer>
            </dict>
            <key>tx3_num_bg.png</key>
            <dict>
                <key>height</key>
                <integer>31</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>31</integer>
                <key>originalWidth</key>
                <integer>31</integer>
                <key>width</key>
                <integer>31</integer>
                <key>x</key>
                <integer>983</integer>
                <key>y</key>
                <integer>35</integer>
            </dict>
            <key>tx_01.png</key>
            <dict>
                <key>height</key>
                <integer>81</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>81</integer>
                <key>originalWidth</key>
                <integer>81</integer>
                <key>width</key>
                <integer>81</integer>
                <key>x</key>
                <integer>396</integer>
                <key>y</key>
                <integer>1488</integer>
            </dict>
            <key>tx_02.png</key>
            <dict>
                <key>height</key>
                <integer>81</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>81</integer>
                <key>originalWidth</key>
                <integer>81</integer>
                <key>width</key>
                <integer>81</integer>
                <key>x</key>
                <integer>900</integer>
                <key>y</key>
                <integer>1461</integer>
            </dict>
            <key>tx_03.png</key>
            <dict>
                <key>height</key>
                <integer>81</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>81</integer>
                <key>originalWidth</key>
                <integer>81</integer>
                <key>width</key>
                <integer>81</integer>
                <key>x</key>
                <integer>817</integer>
                <key>y</key>
                <integer>1461</integer>
            </dict>
            <key>tx_04.png</key>
            <dict>
                <key>height</key>
                <integer>81</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>81</integer>
                <key>originalWidth</key>
                <integer>81</integer>
                <key>width</key>
                <integer>81</integer>
                <key>x</key>
                <integer>870</integer>
                <key>y</key>
                <integer>1378</integer>
            </dict>
            <key>tx_05.png</key>
            <dict>
                <key>height</key>
                <integer>81</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>81</integer>
                <key>originalWidth</key>
                <integer>81</integer>
                <key>width</key>
                <integer>81</integer>
                <key>x</key>
                <integer>874</integer>
                <key>y</key>
                <integer>1295</integer>
            </dict>
            <key>tx_06.png</key>
            <dict>
                <key>height</key>
                <integer>81</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>81</integer>
                <key>originalWidth</key>
                <integer>81</integer>
                <key>width</key>
                <integer>81</integer>
                <key>x</key>
                <integer>895</integer>
                <key>y</key>
                <integer>1212</integer>
            </dict>
            <key>tx_07.png</key>
            <dict>
                <key>height</key>
                <integer>81</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>81</integer>
                <key>originalWidth</key>
                <integer>81</integer>
                <key>width</key>
                <integer>81</integer>
                <key>x</key>
                <integer>812</integer>
                <key>y</key>
                <integer>1173</integer>
            </dict>
            <key>tx_bg.png</key>
            <dict>
                <key>height</key>
                <integer>91</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>91</integer>
                <key>originalWidth</key>
                <integer>91</integer>
                <key>width</key>
                <integer>91</integer>
                <key>x</key>
                <integer>905</integer>
                <key>y</key>
                <integer>342</integer>
            </dict>
            <key>tx_bg_time.png</key>
            <dict>
                <key>height</key>
                <integer>87</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>87</integer>
                <key>originalWidth</key>
                <integer>88</integer>
                <key>width</key>
                <integer>88</integer>
                <key>x</key>
                <integer>900</integer>
                <key>y</key>
                <integer>712</integer>
            </dict>
            <key>tx_num_01.png</key>
            <dict>
                <key>height</key>
                <integer>16</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>18</integer>
                <key>originalWidth</key>
                <integer>18</integer>
                <key>width</key>
                <integer>10</integer>
                <key>x</key>
                <integer>983</integer>
                <key>y</key>
                <integer>155</integer>
            </dict>
            <key>tx_num_02.png</key>
            <dict>
                <key>height</key>
                <integer>16</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>18</integer>
                <key>originalWidth</key>
                <integer>18</integer>
                <key>width</key>
                <integer>16</integer>
                <key>x</key>
                <integer>1001</integer>
                <key>y</key>
                <integer>137</integer>
            </dict>
            <key>tx_num_03.png</key>
            <dict>
                <key>height</key>
                <integer>16</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>18</integer>
                <key>originalWidth</key>
                <integer>18</integer>
                <key>width</key>
                <integer>16</integer>
                <key>x</key>
                <integer>983</integer>
                <key>y</key>
                <integer>137</integer>
            </dict>
            <key>tx_num_04.png</key>
            <dict>
                <key>height</key>
                <integer>16</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>18</integer>
                <key>originalWidth</key>
                <integer>18</integer>
                <key>width</key>
                <integer>18</integer>
                <key>x</key>
                <integer>1003</integer>
                <key>y</key>
                <integer>101</integer>
            </dict>
            <key>tx_num_05.png</key>
            <dict>
                <key>height</key>
                <integer>16</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>18</integer>
                <key>originalWidth</key>
                <integer>18</integer>
                <key>width</key>
                <integer>16</integer>
                <key>x</key>
                <integer>1001</integer>
                <key>y</key>
                <integer>119</integer>
            </dict>
            <key>tx_num_06.png</key>
            <dict>
                <key>height</key>
                <integer>16</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>18</integer>
                <key>originalWidth</key>
                <integer>18</integer>
                <key>width</key>
                <integer>18</integer>
                <key>x</key>
                <integer>983</integer>
                <key>y</key>
                <integer>101</integer>
            </dict>
            <key>tx_num_07.png</key>
            <dict>
                <key>height</key>
                <integer>16</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>18</integer>
                <key>originalWidth</key>
                <integer>18</integer>
                <key>width</key>
                <integer>16</integer>
                <key>x</key>
                <integer>983</integer>
                <key>y</key>
                <integer>119</integer>
            </dict>
            <key>tx_num_bg.png</key>
            <dict>
                <key>height</key>
                <integer>31</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>31</integer>
                <key>originalWidth</key>
                <integer>31</integer>
                <key>width</key>
                <integer>31</integer>
                <key>x</key>
                <integer>983</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>tx_top_bg.png</key>
            <dict>
                <key>height</key>
                <integer>81</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>81</integer>
                <key>originalWidth</key>
                <integer>81</integer>
                <key>width</key>
                <integer>81</integer>
                <key>x</key>
                <integer>860</integer>
                <key>y</key>
                <integer>1090</integer>
            </dict>
            <key>welcome_01.jpg</key>
            <dict>
                <key>height</key>
                <integer>815</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>815</integer>
                <key>originalWidth</key>
                <integer>640</integer>
                <key>width</key>
                <integer>640</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>spy.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:49b10f270ca486dff110aa6935a0d78b:adecb55b8af8485e91c1cb7d397b34da:b0e96329b4bd30ec8f410dcd9f62c584$</string>
            <key>textureFileName</key>
            <string>spy.png</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>2048</integer>
            <key>width</key>
            <integer>1024</integer>
        </dict>
    </dict>
</plist>
